name: Regenerate Python Library
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set release name as environment variable
        run: echo "RELEASE_NAME=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Delete folder
        run: |
          rm -rf meraki
      - name: Regenerate Python Library
        run: |
          python generator/generate_library.py -g true -v $RELEASE_NAME
      - name: Commit changes
        run: |
          git config --global user.name "GitHub Action on behalf of TKIPisalegacycipher"
          git add .
          git commit -m "Auto-update library to release version $RELEASE_NAME."
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ACTION_RUNNER_GITHUB_TOKEN }}